@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto Mono', 'monospace';
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration:  none;
    display: inline;
    color: black;

}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header__icons--container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header__icons--container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span::before{
    /* los íconos se tratarán como fuentes */
    color: white;
    font-size: 30px;
} 

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}


nav .nav__logo--container {

    margin-left: 50px;

}

nav .nav__logo--container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile__link a {
    color: black;
    border-bottom: 1px solid black;
}

.home__main {
    height: calc(100vh - 140px);


    background-image: url('../assets/img/Cover1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

main .main__container{
    display: grid;
    grid-column: 2;
    justify-items: center;
    /* text-align: center; */
    height: 350px;
    margin-top: 80px;
}

main .main__container .main__container--title {
    font-family: 'Roboto mono', 'monospace';
    color: white;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 700;
    width: 50rem;
    text-align: center;
}

main .main__container .main__container--button {
    height: 40px;
    background-color: #47cfac;
    width: 100px;
    margin: 100px auto;
    display: grid;
    align-items: center;
}

main .main__container .main__container--button a {
    font-size: 15px;
    margin: auto;
    font-weight: bold;
}